$text-color: #333;
$link-color: #FC5B5B;

@import 'fonts';

html, body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    height: 100%;
}

.view.ng-enter, .view.ng-leave {
  transition: all 0.25s;
}

.view.ng-enter { opacity: 0; }        /* starting animations for enter */
.view.ng-enter.ng-enter-active { opacity: 1; } /* terminal animations for enter */
.view.ng-leave { opacity: 1; }        /* starting animations for leave */
.view.ng-leave.ng-leave-active { opacity: 0; } /* terminal animations for leave */

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 20px 0 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    float: left;

    .hidden-xs-inline {
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }

    .glyphicon {
        font-size: 0.75em;
        vertical-align: baseline;
        margin-left: 0.5em;
    }
}

.navbar-toggle {
    border: 1px solid #333;
    margin-top: 0;

    .icon-bar {
        background-color: #333;
    }
}

.nav {
    @media only screen and (max-width: 767px) {
        float: none !important;
        clear: both;
        margin-bottom: 10px;
    }
}

.nav-pills {
    li {
        @media only screen and (max-width: 767px) {
            float: none;
        }

        a {
            @media only screen and (max-width: 767px) {
                border-radius: 0;
            }
        }
    }
}

.container {
    a {
        color: $link-color;
        &:hover {
            color: darken($link-color, 10%);
            text-decoration: none;
        }
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background: $link-color;
    }

    @media (min-width: 768px) {
        max-width: 730px;
    }
}

.title-card {
    color: #fff;
    text-align: center;
    padding: 3em;
    margin-bottom: 2em;
    background: {
        image: url(../images/title_cards/IMG_3079.jpg);
        size: cover;
        position: 0 75%;
        repeat: no-repeat;
    }

    h1 {
        margin: 1em 0;
        text-shadow: 1px 1px 1px #333;
    }
}

.project {
    clear: both;
    margin-bottom: 4em;

    .screenshot {
        height: 10em;
        transition: all 1s;

        &:hover {
            height: 25em;
        }

        @media only screen and (max-width: 767px) {
            width: 100%;
            height: auto;

            &:hover {
                height: auto;
            }
        }
    }
}

footer {

    height: 60px;
    background-color: #eee;

    font-size: 3em;

    .social-links {
        font-family: 'Mono Social Icons Font';
        margin: 0;

        .list-label {
            vertical-align: middle;
            font-size: 0.5em;

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
}
