$text-color: #333;
$link-color: #FC5B5B;

@import 'fonts';

html, body {
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    height: 100%;
    overflow-x: hidden;
}

.view-animation.ng-enter,
.view-animation.ng-leave {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  position: relative;
}

.view-animation.ng-enter {
    transition-delay: 0.5s;
}

.view-animation.ng-enter {
    // left: -100%;
    opacity: 0;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 10px #333;
}
.view-animation.ng-leave.ng-leave-active {
    // right: -100%;
    opacity: 0;
    color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 10px #333;
}
.view-animation.ng-leave {
    // right: 0;
    opacity: 1;
    color: #333;
    text-shadow: 0 0 1px #fff;
}
.view-animation.ng-enter.ng-enter-active {
    // left: 0;
    opacity: 1;
    color: #333;
    text-shadow: 0 0 1px #fff;
}


a {
    .glyphicon, .symbol {
        transition: all 0.25s linear;
        display: inline-block;
    }

    &:hover .glyphicon, &:hover .symbol {
        -webkit-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg);
    }
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 20px 0 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    float: left;

    a {
        color: #999999;
        &:hover {
            color: darken(#999, 10%);
        }
    }

    a.email {
        color: $link-color;
        &:hover {
            color: darken($link-color, 10%);
        }
    }

    .hidden-xs-inline {
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }

    .glyphicon {
        font-size: 0.75em;
        vertical-align: baseline;
        margin-left: 0.5em;
    }
}

.navbar-toggle {
    border: 1px solid #ccc;
    margin-top: 0;

    .icon-bar {
        background-color: #ccc;
    }
}

.nav {
    @media only screen and (max-width: 767px) {
        float: none !important;
        clear: both;
        margin-bottom: 10px;
    }
    position: relative;
    z-index: 100;
}

.nav-pills {
    li {
        @media only screen and (max-width: 767px) {
            float: none;
        }

        margin: 0 0.5em;

        &:last-child {
            margin-right: 0;
        }

        a {
            @media only screen and (max-width: 767px) {
                border-radius: 0;
            }

            .glyphicon {
                transition: all 0.25s linear;
                display: inline-block;
            }

            &:hover .glyphicon {
                -webkit-transform: rotate(15deg);
                -o-transform: rotate(15deg);
                transform: rotate(15deg);
            }
        }
    }
}

.container {
    a {
        color: $link-color;
        &:hover {
            color: darken($link-color, 10%);
            text-decoration: none;
        }
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
        background: $link-color;
    }

    @media (min-width: 768px) {
        max-width: 730px;
    }
}

.blurred {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 10px #333;
}

.headshot {
    margin: 0 0 1em 1em;
    max-width: 15em;
}

.title-card {
    color: #fff;
    text-align: center;
    padding: 3em;
    margin-bottom: 2em;
    background: {
        image: url(../images/title_cards/50.jpg);
        size: cover;
        position: 0 20%;
        repeat: no-repeat;
    }

    z-index: 0;

    -webkit-transform: matrix(1, -0.05, 0, 1, 0, 0);
    -o-transform: matrix(1, -0.05, 0, 1, 0, 0);
    transform: matrix(1, -0.05, 0, 1, 0, 0);

    h1 {
        font-family: "Playball", serif;
        font-size: 6em;
        margin: 0;
        text-shadow: 1px 1px 3px #333;
    }
}

.project {
    clear: both;
    margin-bottom: 4em;

    .screenshot {
        height: 10em;
        transition: all 1s;

        &:hover {
            height: 25em;
        }

        @media only screen and (max-width: 767px) {
            width: 100%;
            height: auto;

            &:hover {
                height: auto;
            }
        }
    }
}

footer {

    height: 60px;
    background-color: #eee;

    font-size: 3em;

    .social-links {
        font-family: 'Mono Social Icons Font';
        margin: 0;

        .list-label {
            font-family: 'Roboto', sans-serif;
            vertical-align: middle;
            font-weight: 300;
            font-size: 0.5em;

            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }
}
